{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row section-one">
        <h2>Section 1</h2>
    </div>
    <div class="row section-two">
        <h2>Section 2</h2>
    </div>
    <div class="row section-three">
        <div class="col-md-6 splash-one">
            md 1
        </div>
        <div class="col-md-6 splash-two">
            <div id="delivery">Top</div>
            <div id="contact">Bottom</div>
        </div>
        <!-- <div class="col-md-6 contact">
            md 3
        </div> -->
    </div>
    <div class="row section-four">
        <h2>Section 4</h2>
    </div>
    <div class="row section-five">
        <h2>Section 5</h2>
    </div>
    <div class="row section-six">
        <h2>Section 6</h2>
    </div>
</div>
{% endblock %}